<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="vuhuy.kashima"
    android:installLocation="auto"
    android:fitsSystemWindows="false">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />

    <application
        android:name=".HuyApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="HentaiZ"
        android:theme="@style/lighttheme">
        <activity android:name=".activity.SplashActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activity.MainActivity"
            android:label="@string/app_name"
            android:launchMode="standard"></activity>
        <activity
            android:name=".activity.AddServerActivity"
            android:label="@string/add_server_label">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data android:scheme="irc" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activity.AboutActivity"
            android:label="@string/about_label"
            android:theme="@android:style/Theme.Material.Dialog"></activity>
        <activity
            android:name=".activity.JoinActivity"
            android:label="@string/join_label"
            android:theme="@android:style/Theme.Material.Dialog"></activity>
        <activity
            android:name=".activity.UsersActivity"
            android:label="@string/users"
            android:theme="@android:style/Theme.Material.Dialog"></activity>
        <activity
            android:name=".activity.AddAliasActivity"
            android:theme="@android:style/Theme.Dialog"></activity>
        <activity
            android:name=".activity.AddChannelActivity"
            android:theme="@android:style/Theme.Material.Dialog"></activity>
        <activity
            android:name=".activity.AddCommandsActivity"
            android:theme="@android:style/Theme.Material.Dialog"></activity>
        <activity
            android:name=".activity.MessageActivity"
            android:theme="@android:style/Theme.Material.Dialog"></activity>
        <activity
            android:name=".activity.UserActivity"
            android:theme="@android:style/Theme.Material.Dialog"></activity>

        <service android:name=".irc.IRCService"></service>

    </application>

</manifest>